* {
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: #333;

}

img {
    border: 0;
}

.slideBox {
    position: relative;
    margin: 0 auto;
    margin-top: 0px;
    width: 765px;
    height: 395px;
}

.slideBox .slide,
.slideBox .slide a.picc,
.slideBox .slide a.picc img {
    width: 765px;
    height: 395px;
}

.slideBox .slide {
    position: absolute;
    z-index: 0;
}

.slideBox .slide01 {
    z-index: 1;
}

.slideBox .slide a.picc,
.slideBox .slide span.txt {
    display: block;
}

.slideBox .slide img {
}

.slideBox .slide span.txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 40px;
    background: #000;
    filter: alpha(opacity:60);
    background: rgba(0, 0, 0, 0.6);
    text-indent: 20px;
    line-height: 38px;
}

.slideBox .slide span.txt a {
    text-decoration: none;
    color: #fff;
    font: 16px arial;
}

.slideBox .slide span.txt a:hover {
    text-decoration: underline;
}

.slideBox .btns {
    position: absolute;
    list-style: none;
    bottom: 11px;
    right: 5px;
    z-index: 99999999;
}
